/* ndsGuide.module.css */

.box {
    font-family: "KoPubWorld Dotum Bold.ttf", serif;
    position: absolute;
    top: 30px;
    right: 20px;
    width: 300px;
    padding: 20px;
    height: auto;
    background-color: #ffffff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 1;
    border: 1px solid #e0e0e0;
    transition: transform 0.3s ease-in-out;
}
.titleAndCloseContainer{
    display: flex;
    justify-content: space-between;
}
.closeButton{
    color: #666;
}
.closeButton:hover{
    cursor: pointer;
}
.box:hover {
    transform: translateY(-10px);
}

h4 {
    margin: 0 0 10px 0;
    font-size: 18px;
    color: #00a3ff;
}

small {
    font-size: 14px;
    color: #666;
}

.guideButton {
    float: right;
    font-size: 12px;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #00a3ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out; /* 트랜지션 효과 */
}

.guideButton:hover {
    background-color: #0056b3;
    border: none;
}
.buttonContainer{
    display: flex;
    justify-content: space-between;
}

.guideToggleButton {
    position: absolute;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: #00a3ff;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.guideToggleButton:hover {
    background-color: #0078c1;
}