@font-face {
    font-family: "KoPubWorld Dotum Bold";
    src: url("../../default/font/KoPubWorld Dotum Bold.ttf");
}
@font-face {
    font-family: "GmarketSansTTFBold";
    src: url("../../default/font/GmarketSansTTFBold.ttf");
}

.CreateProjectPage {
    width: 100%;
}

.middleBox{
    width: 80%;
    margin: 0 auto;
    padding: 5% 1%;
}
.showCase {
    width: 80%;
    float: right;
    margin: 0 auto;
}
.projectTitleContainer{
    width: 30%;
}
.textLine{
    width: 100%;
    border: 1px solid #777777;
}
.title{
    font-family: 'KoPubWorld Dotum Bold', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: #00A3FF;
    text-align: left;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* 텍스트 그림자 추가 */
}
.formTitle{
    font-family: 'KoPubWorld Dotum Bold', sans-serif;
    color: black;
}

.customFormGroup{
    margin-top: 3%;
    font-family: 'KoPubWorld Dotum Bold', sans-serif;
    font-size: 1rem;
    width: 100%;

}
.inputForm{
    border: 1px solid rgba(119, 119, 119, 0.44);
    font-size: 1rem;
    font-family: 'KoPubWorld Dotum Bold', sans-serif;
}
.memberGroupBox{
    height: 300px;
    border: 1px solid rgba(119, 119, 119, 0.44);
    border-radius: 10px;
    overflow-y: auto; /* 세로 스크롤바 */

}
.createButton {
    font-family: 'GmarketSansTTFBold', sans-serif;
    margin-top: 1%;
    background-color: #00A3FF;
    border: none;
    color: white;
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 8px;
    float: right;
}
.addButton {
    font-family: 'KoPubWorld Dotum Bold', sans-serif;
    margin-top: 3%;
    background-color: #00A3FF;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    border-radius: 8px;
    float: right;
    position: relative;
}
.projectNameForm{
    width: 100%;
}
.member {
    display: flex;
    align-items: center;
    margin: 30px 40px;
}

.customButton {
    background-color: #FF7777; /* 배경색 */
    border: none; /* 테두리 없음 */
    color: white; /* 텍스트 색상 */
    padding: 4px 15px; /* 안쪽 여백 */
    font-weight: bold; /* 폰트 굵기 */
    outline: none; /* 포커스 효과 제거 */
    cursor: pointer; /* 마우스 오버 시 커서 모양 변경 */

}
.member img {
    margin: 0 20px; /* 이미지 오른쪽에 10px의 마진 적용 */
}
.member div{
    font-family: 'KoPubWorld Dotum Bold', sans-serif;
}
.ProjectTeamUiImg {
    width: 4rem;
}
.memberInformation > *{
    height: 100%;
    margin: 0; padding: 0;
}
.searchComponent {
    width: 20rem; height: 21rem;
    border-radius: 10px;
    border: 1px solid #D0D0D0;
    padding: 20px;
    position: absolute; /* 상대적 위치 설정 */
    z-index: 1;
    right: 0;
    bottom: 100%;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}


.searchGroup{
    height: 100%; width: 100%;
    margin-top: 3%;
    font-family: 'KoPubWorld Dotum Bold', sans-serif;
    border-bottom: 1px solid #cccccc;
    padding: 2%;
    color: black;
    text-align: left;
}
.searchGroup:hover{
    background: #eeeeee;
}
.searchMembers{
    max-height: 300px;
    height: 13rem;
    overflow-y: auto; /* 세로 스크롤바 */
}
.tableLinkUI {
    padding: 10px;
    float: right;
}
.tableLinkBut {
    color: white;
    background: #00a2fe;
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
}
.tableLinkBut:hover {
    background: #017dc5;

}
.linkUI{
    padding: 10px;
    float: right;
}
.link{
    color: #000000;
    text-decoration: none; /* 밑줄 제거 */
    font-family: 'KoPubWorld Dotum Bold', sans-serif;
}
.linkBut{
    padding: 1px 10px;
    border-radius: 5px;
    border: none;
    background: none;
}
.cardBox{
    background-color: #fafafa;
    margin-top: 0.2rem;
    width: 100%;
    border-left: 5px solid #00A3FF;
    padding: 10px;
}
.cardBox:hover{
    transform: translateY(-4px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.cardLogo{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.projectInfoContainer{
    width: 100%;
    padding: 10px;
}
.cardTitle{
    font-family: 'KoPubWorld Dotum Bold', sans-serif;
    margin: 10px 50px 0 30px;
    color: #00A3FF;
}
.cardComment{
    font-family: 'KoPubWorld Dotum Bold', sans-serif;
    margin: 10px 50px 10px 30px;
}
.creatDBName{
    font-family: 'KoPubWorld Dotum Bold', sans-serif;
    margin: 5px 50px 0 30px;
}
.cardIcon {
    width: 30%;
    cursor: pointer;
    flex-direction: column; /* 세로로 정렬 */
    align-items: center; /* 가운데 정렬 */
    margin-left: 1rem;
    text-align: right;
}
.tableIcon {
    padding: 10px;
    cursor: pointer;
    text-align: right;
}

.linkContainer{
    margin-top: 4rem;
}
.tableTitleContainer{
    width: 20%;
    min-width: 180px;
}
.cardLink{
    color: #000000;
    text-decoration: none; /* 밑줄 제거 */
    font-family: 'KoPubWorld Dotum Bold', sans-serif;
    position: relative;
    float: right; /* 오른쪽으로 이동 */
    margin: 0 30px;
}
.cardLayOutBox{
    display: grid;
    width: 100%;
    gap: 5px;
}

.projectShowCasePage{
    display: flex;
    font-family: 'KoPubWorld Dotum Bold', sans-serif;
    padding: 5% 1% 5% 1%;

}
.modalOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-color: rgba(0, 0, 0, 0.5); !* 배경에 어둡게 투명한 효과 *!*/
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
}
.nameBox{
    display: flex;
    justify-content: left;
}
.modal {
    z-index: 1;
    font-family: 'KoPubWorld Dotum Bold', sans-serif;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* 그림자 효과 */
    padding: 20px;
    max-width: 50%;
    max-height: 80%;
    overflow: auto;
    position: fixed; /* fixed로 변경 */
    top: 50%; /* 화면 세로 중앙에 위치 */
    left: 50%; /* 화면 가로 중앙에 위치 */
    transform: translate(-50%, -50%); /* 가운데 정렬을 위한 transform 속성 */
}
.modalConfirmBtn {
    background-color: #00A3FF; /* 배경색 */
    border: none; /* 테두리 없음 */
    color: white; /* 텍스트 색상 */
    padding: 4px 15px; /* 안쪽 여백 */
    font-weight: bold; /* 폰트 굵기 */
    outline: none; /* 포커스 효과 제거 */
    cursor: pointer; /* 마우스 오버 시 커서 모양 변경 */
    margin-bottom: 20px;
    border-radius: 5px;
}
.modalCloseBtn{
    margin: 5px;
    background-color: #ff0000; /* 배경색 */
    border: none; /* 테두리 없음 */
    color: white; /* 텍스트 색상 */
    padding: 4px 15px; /* 안쪽 여백 */
    font-weight: bold; /* 폰트 굵기 */
    outline: none; /* 포커스 효과 제거 */
    cursor: pointer; /* 마우스 오버 시 커서 모양 변경 */
    border-radius: 5px;
}
.modalBtnBox{
    float: right;
}
.commentBox{
    padding: 15px;
}

.dataBaseSideBar{
    position: absolute;
    width: 14%;
    height: auto;
    font-family: 'KoPubWorld Dotum Bold', sans-serif;
    overflow-y : scroll;
    border-top: 1px solid #C1C1C1;

}
.titleBarSide{
    color: #00A3FF ;
    display : flex;
    justify-content: space-between;
    padding: 8px 4px;
}
/*데이터베이스 목록 조회*/
.DataBaseShowCasePage {
    width: 100%;
    height: 90vh;
    display: flex;
}
.dataBaseMenu{
    background-color: #4EBFFF;
    border-top: 12px solid #4EBFFF; /*위부분 짤림으로 인한 보더설정*/
}
.dataBaseMenuHeader{
    padding: 2px 12px;
    color: #FFFFFF ;
    height: 33px;
    font-weight: bold;
}
.dataBaseMenuList{
    background-color: #249ADD;
    padding-left: 30px;
}
.dataBaseMenuList li{
    height: 30px;
    padding: 5px;
    color: #FFFFFF;
}
.dataBaseMenuBox{
    width: 80%;
    padding: 1rem 2rem;
    min-width: 340px;
    /*background: #f3f3f3;*/
}
.dataBaseTitleImage{
    width: 1rem;
    padding-bottom: 5px;
}
.dataBaseTitle{
    font-family: 'KoPubWorld Dotum Bold', sans-serif;
    width: 30%;
    text-align: center;
    padding: 10px;
    margin: 2% auto 0;
}

.dataBaseContentBox {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25.99%, 1fr)); /* 자동으로 그리드 생성하고 각 요소의 너비를 조정 */
    padding: 10px;
    gap: 20px; /* 그리드 간격 설정 */
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    overflow-y : scroll;
    width: 100%;
    margin: 5% auto;
}
.dataBaseContentBox > * {
    justify-self: center; /* 수평 가운데 정렬 */
}
.BoxUI {
    width: 100%; height: 100%;
    cursor: pointer;
}
.dataBaseBox{
    background-color: white;
    text-align: center;
    font-family: 'KoPubWorld Dotum Bold', sans-serif;
    transition: transform 0.1s ease-in-out;
    border: 3px solid #505050;
    width: 270px;
    height: 250px;
    border-radius: 10px;
    padding: 3% 10px 10px 10px;
}
.dataBaseBox:hover{
    transform: translateX(-10px);
}
.activeBox{
    border: 5px solid #00A3FF;
    padding: 10px;
}
.activeBox:hover{
    /*transform: translateX(-10px);*/
}

.dataBaseBoxTitle{
    font-family: 'KoPubWorld Dotum Bold', sans-serif;
    width: 100%;
    padding: 5px;
    color: black;
    text-align: center;
}
.dataBaseBoxImage {
    padding: 20px;
    width: 6.5rem
}
.dataBaseBoxTime{
    padding: 2px;
    font-family: 'KoPubWorld Dotum Bold', sans-serif;
    text-align: center;
    background: #00A3FF;
    color: white;
    border-radius: 3px;
}

.inactiveButton {
    font-family: 'KoPubWorld Dotum Bold', sans-serif;
    padding: 4px 15px;
    border-radius: 5px;
    color: #6B6B6B;
}
.blueButton {
    background-color: #00A3FF;
    color: #ffffff;
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: 'KoPubWorld Dotum Bold', sans-serif;
}
.blueButton:hover {
    background-color: #007dc4;
}
.dataBaseBoxButton{
    float: right;
    position: relative;
    top: 10px;
}
/*프로젝트 조회 UI*/
.ProjectViewCard {
    width: 100%; height: 80%;
    border: 1px solid lightgray;
    box-shadow: 0 3px 3px lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*프로젝트 정보*/
.projectInformationBox {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ProjectViewCardLabel {
    width: 100%;
    display: flex;
}
.ProjectViewCardSpan {
    width: 30%;
    padding-left: 5%;
}
.ProjectViewCard label:nth-of-type(2) span {
    letter-spacing: 0.8em;
}
.ProjectViewCardInput {
    width: 64%;
    border-radius: 5px;
    border: 1px solid black;
    resize: none;
}
.ProjectViewCard label:nth-of-type(2) input {
    height: 5rem;
}
/*프로젝트 조회 카드 타이틀*/
.ViewCardTitle{
    font-family: 'KoPubWorld Dotum Bold', sans-serif;
    background-color: #00A3FF;
    width: 100%; height: 20%;
    color: #FFF;
    padding: 15px 10px 15px 20px;
    display: inline-block;
}
/*프로젝트 조회 카드 아이콘*/
.ViewCardIconBox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.ViewCardIcon{
    background-color: #FFFFFF;
    margin: auto;
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    border: 1px solid #00A3FF;
    position: absolute;
    top: -1.9rem;
}
/*프로젝트 조회 카드 하단 버튼*/
.ViewCardBtn{
    font-family: 'KoPubWorld Dotum Bold', sans-serif;
    font-size: 1.3rem;
    background: none;
    border: none;
    color: white;
    transition-property: all;
    transition-duration: .3s;
}
.ViewCardBtnImg {
    width: 2rem;
    height: 2rem;
}
.ViewCardTitle:hover > button{
    padding-left: 15px;
}
/*프로젝트 조회 첫번째 카드 요소들*/
.InformationInput{
    width: 24rem; height: 100%;
    font-family: 'KoPubWorld Dotum Bold', sans-serif;
}
.InformationCardEx{
    letter-spacing: 2.5rem;
}
.InformationAction{
    margin: 20px 0 0 4px;
    display: flex;
}
.ActionNewPull{
    border: #353535 1px solid;
    border-radius: 6px;
    background-color: #E9E9E9;
    display: flex;
    width: 120px; height: 80px;
    text-align: center;
}
.ActionTxt{
    margin: auto;
}
.ActionNewPush{
    border: #353535 1px solid;
    border-radius: 6px;
    background-color: #E9E9E9;
    display: flex;
    width: 120px; height: 80px;
    text-align: center;
}
.ActionCrash{
    border: #353535 1px solid;
    border-radius: 6px;
    background-color: #E9E9E9;
    display: flex;
    width: 120px; height: 80px;
    text-align: center;
}
.CrashIcon{
    width: 30px; height: 30px;
}
.InformationIcon{
    width: 65%; height: 65%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*프로젝트 조회 두번째 카드 요소들*/
.collaborateUl {
    margin: 0 auto;
    padding: 0;
    overflow-y: auto;
    height: 50%; width: 80%;
}
.CollaborativeUser{
    width: 100%;
    display: flex;
    margin-bottom: .5rem;
}
.CollaborativeUserProfile{
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
}
.CollaborativeUserName{
    font-family: 'KoPubWorld Dotum Bold', sans-serif;
    font-size: 1.2rem;
    margin: auto 5%;
}
.CollaborativeUserTotal{
    font-family: 'KoPubWorld Dotum Bold', sans-serif;
    margin: 1rem 0 0 2.5rem;
    font-size: .8rem;
    color: #545454;
}
.CollaborativeIcon{
    width: 75px; height: 75px;
    margin: auto;
    padding-bottom: 5px;
}
/*프로젝트 조회 세번째 카드 요소들*/
.Tables{
    width: 400px;
    height: 270px;
    margin: 242px 0px 0px 45px;
}
.Table{
    width: 100%;
    display: flex;
    margin-bottom: .7rem;

}
.TableIcon{
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
}
.TableName{
    font-family: 'KoPubWorld Dotum Bold', sans-serif;
    font-size: 18px;
    margin: 13px 0 0 15px;
}
.TablesTotal{
    font-family: 'KoPubWorld Dotum Bold', sans-serif;
    margin: 1rem 0 0 2.5rem;
    font-size: .8rem;
    color: #545454;
}
.TablesIcon{
    width: 75px; height: 75px;
    margin: auto;
}
.ProjectViewCardPage{
    min-width: 1000px; min-height: 600px;
    width: 100%; height: 87vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/*프로젝트 조회 페이지*/
.projectShowCasePage{
    display: flex;
    font-family: 'KoPubWorld Dotum Bold', sans-serif;
    padding: 5% 1% 5% 1%;
}
.ProjectViewCardPageHeader{
    width: 80%; height: 18%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.WebSiteIcon{
    width: 6rem;
    height: 5rem;
}
.ProjectTitle{
    padding-top: 1rem;
}
.ProjectViewCards{
    gap: 20px;
    margin: 0 auto;
    width: 80%; height: 70%;
    display: flex;
    justify-content: space-between;
}
.PageFooterBtn{
    position: relative;
    float: right;
    margin: 520px 50px 20px 0;
}
.BottomStar{
    width: 30px;
    margin-right: 20px;
    cursor: pointer;
}
.BottomTrash {
    width: 30px;
    cursor: pointer;
}
.titleGroup{;
    display: flex;
}
.dataBaseFormGroup{
    margin-left: 1%;
}
.description {
    position: relative;
    width: 100%;
    overflow: auto;
    font-size: 0.9em;
}

.tableTitleBox{
    display: flex;
}
.subTitle{
    padding: 15px;
    font-family: 'KoPubWorld Dotum Bold', sans-serif;
    height: auto;
}
.grayBorder{
    border: 3px solid gray;
}

/* 스크롤바의 폭 너비 */
.scrollbar::-webkit-scrollbar {
    width: 10px;
}
.scrollbar::-webkit-scrollbar-thumb {
    background: rgb(192, 192, 192); /* 스크롤바 색상 */
    border-radius: 10px; /* 스크롤바 둥근 테두리 */
}
.scrollbar::-webkit-scrollbar-track {
    background: rgb(240, 240, 240);  /*스크롤바 뒷 배경 색상*/
}

/*grid 반응형*/
@media (max-width: 600px) {
    .dataBaseContentBox {
        grid-template-columns: 1fr;
        min-width: 230px;
    }
}

/*@media screen and (max-width: 1280px) {*/
/*    .dataBaseBox{*/
/*        width: 280px;*/
/*        padding: 15px;*/
/*        border: 4px solid #777777;*/
/*        background-color: white;*/
/*        border-radius: 8px;*/
/*        text-align: center; !* 이미지를 가운데 정렬 *!*/
/*        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
/*        font-family: 'KoPubWorld Dotum Bold', sans-serif;*/
/*    }*/

/*    .activeBox{*/
/*        width: 280px;*/
/*        border: 4px solid #00A3FF;*/
/*        background-color: white;*/
/*        border-radius: 8px;*/
/*        text-align: center; !* 이미지를 가운데 정렬 *!*/
/*        font-family: 'KoPubWorld Dotum Bold', sans-serif;*/
/*    }*/
/*}*/