@font-face {
    font-family: "koko";
    src: url("../../default/font/KoPubWorld Dotum Bold.ttf");
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: auto;
}

.card {
    width: 330px;
    margin: 20px;
    border: 1px solid #ddd;
    font-size: 1.2rem;
    border-radius: 5px;
    overflow: hidden;
    background-color: #FFFFFF;
    font-family: "koko", serif;
}

.cardImageContainer {
    text-align: center;
    border-radius: 3px;
    overflow: hidden; /* 이미지가 테두리를 넘어가지 않도록 합니다. */
}
.cardImageContainer img{
    width: 330px;
    border-radius: 3px;
}


.cardContent {
    width: 80%;
    margin : 0 auto;
    padding: 15px;
}

.cardTitle {
    margin-top: 0;
}

.cardDescription {
    margin-bottom: 0;
}

.cardButtonContainer {
    margin: 10px;
    float: right;
}

.cardButton {
    background-color: #00A3FF;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 8px;
    cursor: pointer;
    border-radius: 8px;
    float: right;
}

.card:hover {
    cursor: pointer;
}

/* 스크롤바의 폭 너비 */
.scrollbar::-webkit-scrollbar {
    width: 10px;
}
.scrollbar::-webkit-scrollbar-thumb {
    background: rgb(192, 192, 192); /* 스크롤바 색상 */
    border-radius: 10px; /* 스크롤바 둥근 테두리 */
}
.scrollbar::-webkit-scrollbar-track {
    background: rgb(240, 240, 240);  /*스크롤바 뒷 배경 색상*/
}