@font-face {
    font-family: "KoPubWorld Dotum Bold";
    src: url("../../default/font/KoPubWorld Dotum Bold.ttf");
}
@font-face {
    font-family: "GmarketSansTTFBold";
    src: url("../../default/font/GmarketSansTTFBold.ttf");
}

/* 페이지 레이아웃 */
.pageContainer {
    border-radius: 3px;
    width: 70%;
    height: 80vh;
    min-width: 650px;
    margin: 3vh auto;
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    column-gap: 3rem;
}

/* 프로필칸 레이아웃 */
.profileContainer {
    background-color: #FFF;
    display: grid;
    column-gap: 10px;
    grid-template-rows: repeat(6, minmax(2rem, auto));
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border-radius: 4px;
}

/* 콘텐츠칸 레이아웃 */
.contentslayout {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
}

/* 프로필 사진 */
.ProfilePhotoTool {
    margin: 1rem auto;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.ProfilePhoto {
    width: 100%;
    height: 100%;

}

/* 유저 이름 --님 */
.UserName {
    margin: 1rem auto;
    width: 100%;
    height: 2rem;
    text-align: center;
    font-family: 'KoPubWorld Dotum Bold', sans-serif;
    font-size: 1.5rem;
}

/* 유저 정보 제목 */
.InforTitle {
    font-family: 'KoPubWorld Dotum Bold', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

/* 유저 정보 (이름, 전화번호) */
.UserInfoTool {
    width: 80%;
    margin: 1rem auto;
    padding: 0.5rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
}
.UserInputBox {
    width: 100%;
    margin: 0 auto;
    outline: none;
    border: none;
    border-bottom: 2px solid #777777;
    padding: 0.5rem;
    font-size: 0.9rem;
    font-family: 'KoPubWorld Dotum Bold', sans-serif;
    transition: border-color 0.3s;
}
.UserInputBox:focus {
    border-bottom: 2px solid #00a3ff;
}

/* 콘텐츠 상단 메뉴바 */
.MenuBar {
    width: 100%;
    height: 3.7rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-bottom: #D0D0D0 1.5px solid;
    position: relative;
    background-color: #fff;
    border-radius: 8px 8px 0 0;
}
.MenuList {
    display: contents;
}

.ContentMenuItem {
    list-style: none;
    width: 100%;
    text-align: center;
    font-family: 'KoPubWorld Dotum Bold', sans-serif;
}

/* 메뉴 탭들 */
.ContentMenuItem a {
    display: block;
    height: 4rem;
    color: #666;
    font-size: 1.2rem;
    padding-top: 1rem;
    text-decoration: none;
    position: relative;
    transition: color 0.3s;
}
.ContentMenuItem a.on, .ContentMenuItem a:hover {
    color: #00A3FF;
}
/* 하단 슬라이스 메뉴바 */
.Line {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    background: #00A3FF;
    transition: all 0.3s ease-out;
    width: calc(100% / 3);
}

/* 컨텐츠 박스 */
.ContextBox {
    width: 100%;
    height: 87.6%;
    padding: 2rem 0;
}
.liStyle {
    list-style: none;
    width: 80%;
    font-size: 1.2rem;
    font-family: 'KoPubWorld Dotum Bold', sans-serif;
    border-left: 10px solid #00A3FF;
    margin: 10px ;
    padding: 20px;
    transition: border-left 0.3s ease;
}
.liStyle:hover {
    border-left: 13px solid #00A3FF;
}
.linkStyle {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
}

/* 프로젝트 아이콘 */
.ListItemIcon {
    width: 4rem;
    height: 4rem;
    margin-right: 2rem;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: center; /* 수평 중앙 정렬 */
    overflow: hidden; /* 이미지가 부모 컨테이너를 벗어나지 않도록 함 */
}
/* 테이블 아이콘 */
.TableIcon {
    background-size: cover;
    width: 4rem;
    height: 4rem;
    margin-right: 2rem;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.imageLogo{
    width: 2rem;
    height: 2rem;
}
.textContainer {
    padding-top: 20px;
    display: flex;
    align-items: center; /* 수직 중앙 정렬 */
    text-align: center;
}