body{
    border:none;
}
.accordion-button:not(.collapsed) {
    background-color: #4EBFFF !important;
    color: white;
    box-shadow: none;

}
.accordion-button {
    background-color: #4EBFFF !important;
    color: white;
    box-shadow: none;
    border-top-left-radius: 0;

}

button:focus:not(:focus-visible) {
     outline: none;
    box-shadow: none;
}
.accordion-button::after {
    font-size: 28px;
    background-color: #4EBFFF;
    color: #ffffff;
    content: "▼";
}
.content{
    color: white;
}