@font-face {
    font-family: "KoPubWorld Dotum Bold";
    src: url("../../default/font/KoPubWorld Dotum Bold.ttf");
}
@font-face {
    font-family: "GmarketSansTTFBold";
    src: url("../../default/font/GmarketSansTTFBold.ttf");
}

.sideBarContainer{
    font-family: "KoPubWorld Dotum Bold", serif;
    border:1px solid #C1C1C1;
    width: 17%;
    min-width: 220px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}
.sideBarBox{
    width: 100%;
    height: 100%;
}

.highList {
    padding: 1rem;
}

.titleContainer{
    height: 20%;
    width: 100%;
    margin: 0 auto;
}

.titleBox{
    font-size: 170%;
    color: #00A3FF;
    display: flex;
    cursor: pointer;
    align-items: center;
}
.titleBox button{
    width: 100%;
    padding: 0;
    text-align: right;
    border: none;
    background-color: transparent;
    color: #00A3FF;
}


.listBox button{
    border:none;
    background-color: transparent;
    color: #00A3FF;
}

.listTitleContainer{
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
}

.smallList{
    font-size: 1rem;
    padding-left: 10px;
    cursor: pointer;
}



.listTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.listTitleContainer.open {
    height: 150px;

}


