@font-face {
    font-family: "koko";
    src: url("../../default/font/KoPubWorld Dotum Bold.ttf");
}
.tableBox {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    border-bottom: 3px solid #a0a0a0;
}
.dataContainer{
    height: 82%;
    overflow-y: auto;
    overflow-x: auto;
}
.table {
    margin-top: 1%;
    float: left;
    font-family: "koko", serif;
    border: 1px solid #f0e8ff;
    background-color: #ffffff;
}
.table thead{
    width: 220px;
    background-color: #00A3FF;
    border: 1px solid #ffffff;
    color: white;
    text-align: center;
    word-wrap: break-word; /* 긴 단어가 있을 경우 줄 바꿈 */
    word-break: break-all; /* 긴 단어가 있을 경우 줄 바꿈 */
    white-space: normal; /* 기본 줄바꿈을 활성화 */
}
.tableContainer{
    width: 90%;
    height: 20%;
    margin: 5% auto 0;
}

.dropdown {
    font-family: "KoPubWorld Dotum Bold", serif;
    background-color: white;
    border-radius: 5px;
    width: 90%; height: 10%;
    padding-bottom: 20px;
    margin: 0 auto;

}

/* 드롭다운 버튼 스타일 */
.dropbtn {
    background-color: #00a3ff;
    color: white;
    padding: 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 150px;
    height: 40px;
}
.dropdownContainer{
    float : left;
    height: 50px;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    top: 50px; /* 원하는 위치로 지정 */
    left: 0; /* 원하는 위치로 지정 */
}
.dropdownContent {
    padding: 10px;
    list-style: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 999;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: max-height 0.3s ease; /* max-height를 변경하는 트랜지션 효과를 추가합니다. */
}
/* 드롭다운 버튼 위에 마우스를 올렸을 때 스타일 */
.dropbtn:hover {
    background-color: rgba(0, 162, 254, 0.42);
}


.toggleTitle{
    float: right;
    border: 1px solid red;
}
.table td
{
    text-align: center;
    width: 220px;
    height: 60px;
    padding: 0;
    word-wrap: break-word; /* 긴 단어가 있을 경우 줄 바꿈 */
    word-break: break-all; /* 긴 단어가 있을 경우 줄 바꿈 */
    white-space: normal; /* 기본 줄바꿈을 활성화 */
}

.table tr:nth-child(even){
    background-color: #F9FAFC;
}
.table tr{
    width: 100%;
    max-height: 60px;
}

.imageContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 10px;
}
.columnContainer {
    display: flex;
    gap: 10px;
    padding: 15px;
    text-align: center;
    justify-content: space-between; /* 가운데 정렬 */
}

.columnContainer div{
    text-align: center;
    margin: 0 auto;
}
.button {
    height: 100%;
}

.button ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 0.7rem;
    padding: 20px;
    border: 3px solid #a0a0a0;
    border-left: none;
    border-right: none;
}

/*input창 크기 조절*/

.input {
    width: 100%;
    height: 30px;
    border: none;
    text-align: center;
}


.menuIconBox {
    width: auto; /* 부모 크기에 맞게 자동으로 조절 */
    height: 18%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.leftIcon{
    margin: 0;
    display: flex;
    width: 100px;
    height: 100%;
    justify-content: space-between;
}
.rightIcon{
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: right;
}
.newDataClass {
    background-color: #8ae88a;
}
.newDataInput{
    width: 100%;
    height: 30px;
    border: none;
    text-align: center;
    background-color: #8ae88a;
}
.newDataInput:focus{
    width: 100%;
    height: 30px;
    border: none;
    text-align: center;
    background: white;
    outline: none; /* 포커스 테두리 제거 */
    border-bottom: 1px solid black;
}

/* 포커스를 받은 경우 */
.input:focus {
    outline: none; /* 포커스 테두리 제거 */
    border: none;
    border-bottom: 1px solid black;
}
.existingDataClass {
    background-color: lightblue; /* 기존 데이터의 배경색 */
}
.tablePage{
    width: 95%;
    height: 55vh;
    min-height: 500px;
    margin: 0 auto;
}
.selectedRow{
    background-color: #00A3FF;
}

/* 스크롤바의 폭 너비 */
.scrollbar::-webkit-scrollbar {
    width: 10px;
}
.scrollbar::-webkit-scrollbar-thumb {
    background: rgb(192, 192, 192); /* 스크롤바 색상 */
    border-radius: 10px; /* 스크롤바 둥근 테두리 */
}
.scrollbar::-webkit-scrollbar-track {
    background: rgb(240, 240, 240);  /*스크롤바 뒷 배경 색상*/
}