.downloadBox{
    margin: 0 auto;
    text-align: left;
    width: 90%;
    padding: 10px;
}
.downloadText{
    padding-right: 2%;
    font-family: "KoPubWorld Dotum Bold", serif ;
    cursor: pointer;
}