.searchModalBox {
    position: fixed; /* 페이지 내에서 고정 위치로 설정 */
    top: 50%; /* 상단에서 50% 위치로 이동 */
    left: 50%; /* 왼쪽에서 50% 위치로 이동 */
    transform: translate(-50%, -50%); /* 요소를 중앙으로 정렬 */
    width: 70%; /* 원하는 너비로 설정 */
    height: 600px; /* 원하는 높이로 설정 */
    background-color: #ffffff; /* 배경색 설정 */
    border: 1px solid #dddddd; /* 테두리 설정 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 설정 */
    z-index: 1; /* 다른 요소들 위에 나타나도록 설정 */
}
