@font-face {
    font-family: "KoPubWorld Dotum Bold";
    src: url("../../default/font/KoPubWorld Dotum Bold.ttf");
}
@font-face {
    font-family: "GmarketSansTTFBold";
    src: url("../../default/font/GmarketSansTTFBold.ttf");
}

/*테이블 변경사항 조회*/
.changeCommitBox {
    font-family: "KoPubWorld Dotum Bold", serif;
    margin: 0 auto 0 auto;
    width: 100%; height: 40%;
    display: flex;
    justify-content: left;
}
.changeCommitBoxSearch {
    font-family: "KoPubWorld Dotum Bold", serif;
    margin: 0 auto 0 auto;
    width: 100%; height: 30%;
    display: flex;
    justify-content: left;
}
.selectBox{
    background: white;
    width: 30%; height: 100%;
    border: 1px solid #B2B2B2;
    border-right: none;
}
.commitInformationBox{
    width:100%; height: 70%;
    background: white;
}
.CommitInformationProjectIdUI {
    width:100%; height: 50%;
}
.smailSelectBox {
    width:100%; height: 50%;
}
.smailSelectBoxStatus {
    font-family: "KoPubWorld Dotum Bold", serif;
    width:100%; height: 77%;
}
.selectTitleBox{
    height: 30%;
    font-family: "GmarketSansTTFBold", serif;
    background-color: #00A3FF;
    color: white;
    margin: 0;
    font-size: 80%;
    padding-left: 5px;
    display: flex;
    align-items: center;
}
.selectData{
    height: 70%;
    margin-bottom: 0;
    overflow: auto;
    background: white;
    font-size: .8rem;
}
.DataList{
    margin: 5px 0 0 10px;
    cursor: pointer;
}
.changeTableBox{
    background: white;
    width: 70%;
    border: 1px solid #B2B2B2;
    overflow-y: auto;
    overflow-x: auto;
}
.changeColumnName {
    color: #5B5B5B;
    font-size: 1rem;
    min-width: 150px;
    text-align: center;
    padding: 2%;
    margin: 0 auto 0;
    border: 1px solid #e5e5e5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.dataBox {
    font-family: "KoPubWorld Dotum Bold", serif;
    position: relative;
    min-width: 150px;
    padding: 10px;
    text-align: center;
    margin: 0;
}
.td {
    margin: 0;
    padding: 0;
}
.changeTableLayout {
    height: 100%;
    background: white;
}
.columnNames{
    height: 10%;
    background: #f5f5f5;
}
.redBox{
    background-color: #FFE4E4;
}
.greenBox{
    background-color: #E0FFD2;
}

/*사이드바*/
.HistorySideBar {

}

.HistorySideBarMenu {
    width: 100%;
    height: 100%;
    min-width: 14rem;
    border-radius : 3px;
    display: flex;
    flex-direction: column;
    background: #e5e5e5;
}
.SideMenu{
    font-family: 'KoPubWorld Dotum Bold', sans-serif;
    margin: .7rem 0 0 1rem;
    padding-left: .5rem;
    color: black;
    cursor: pointer;
    text-decoration-line: none;
    width: 87%; height: 7%;
    display: flex;
    align-items: center;
}
.selectedMenuItem {
    background-color: rgba(255, 255, 255, 0.29);
    color: #00A3FF;
    cursor: pointer;
    border-left: 4px solid #00A3FF;
}

/*상단 버튼 디자인*/
.HistoryBtn {
    font-family: "GmarketSansTTFBold", serif;
    font-size: 70%;
    margin-right: 2rem;
    border-radius: 2px;
    border: none;
    color: #424242;
    background-color: #f8f8f8;
    padding: 5px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer; /* 커서 모양 변경 */
    transition: background-color 0.3s, transform 0.3s;
}
.HistoryBtn:hover {
    background-color: #d0d0d0;
}
.HistoryBtnImg{
    width: 1.5rem; height: 1.5rem;

}

/*버튼 레이아웃*/
.HistoryButtonLayOutBox {
    display: flex;
    justify-content: space-between;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
}
.ProjectSelectBox {
    font-family: koko, serif;
    width: 18.5%;
    height: 2rem;
    min-width: 14rem;
    padding: 3px 3px 3px 20px;
    border: none;
    border-left: 8px solid #00A3FF;
    transition: border-left 0.3s ease;
}

.ProjectSelectBox:hover {
    border-left: 12px solid #00A3FF;
}

.buttonContainer {
    display: flex;
    justify-content: right;
    text-align: center;
    width: 77%;
}

/*캔버스*/
.HistoryCanverBack {
    min-height: 450px;
    width: 100%; height: 100%;
    margin: 0 auto;
}
.HistoryCanver {
    width: 100%; height: 100%;
    padding: 30px;
    border-radius : 3px;
    background: #E6E6E6;
}

.searchContainer {
    width: 100%; height: 100%;
    display: flex;
    flex-direction: column;
}

/*페이지 전체*/
.HistoryViewPage {
    min-width: 1100px; min-height: 600px;
    width: 85%; height: 88vh;
    padding-top: 1.5%;
    margin: 0 auto;
}
.HistoryPage {
    width: 100%; height: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: .47fr 2fr; /* 2개의 열 */
    grid-template-rows: 3.8% 88%; /* 2개의 행 */
}

/*테이블 표 UI*/
.CommitChartUI {
    height: 60%; width: 100%;
    padding-bottom: 2%;
}
.CommitChartUISearch {
    height: 52%;
    padding-bottom: 2%;
}
.CommitChartBack {
    overflow: auto;
    scroll-snap-type: both mandatory;
    width: 100%; height: 100%;
    margin: 0 auto;
    border: 1px solid #9b9b9b;
    background: white;
}
.CommitChart {
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    font-family: 'KoPubWorld Dotum Bold', sans-serif;
    text-align: center;
}
.CommitChartTitle {
    white-space: nowrap;
    font-family: 'GmarketSansTTFBold', sans-serif;
    background: red;
    font-size: .9rem;
    position: sticky;
    top: 0;
    z-index: 1; /* 다른 요소 위로 표시되도록 z-index 설정 */
}

.CommitChartTitle > th {
    height: 2rem;
    border-bottom: #B2B2B2 solid 1px;
    border-right: #B2B2B2 solid 1px;
    background: #00A3FF;
    color: white;
}

.CommitChart > tbody {
    width: 100%;
    background: white;
}
.CommitChart > tbody > tr > td {
    font-size: 85%;
}

.CommitChartTitleNow { width: .5rem; font-size: 65%; }
.CommitChartTitleMsg { width: 10rem; font-size: 90%; }
.CommitChartTitleDate { width: 5rem; font-size: 90%; }
.CommitChartTitleWriter { width: 1rem; font-size: 90%; }
.CommitChartTitleNum { width: .5rem; font-size: 90%; }

.CommitChartTitleMsg,
.CommitChartTitleDate,
.CommitChartTitleWriter,
.CommitChartTitleNum {
    /*white-space: nowrap;*/
    overflow: hidden;
    text-overflow: ellipsis;
}

.CommitChartContent {
    height: 2.5rem; width: 100%;
    border-bottom: #B2B2B2 solid 1px;
    cursor: pointer;
}
.CommitChartContentActive {
    height: 2.5rem; width: 100%;
    background-color: #BFE8FF;
    border-bottom: #B2B2B2 solid 1px;
    cursor: pointer;
}

/*현재 상태 탭*/
.CurrentStatusTableLayOut {
    height: 70%;
    margin: 0 auto;
    grid-gap: 20px;
    display: grid;
    grid-template-columns: .7fr 2fr; /* 2개의 열 */
    grid-template-rows: 47.5% 47.5%; /* 2개의 행 */
}
.currentSelectBox {
    width: 100%; height: 100%;
    border: 1px solid #B2B2B2;
    border-right: none;
    background-color: #FFFFFF;
}
.changeCommitBoxUnder{
    width: 100%; height: 100%;
    background: white;
    border: 1px solid #B2B2B2;
}
.smallselectData{
    height: 100%;
    font-size: 90%;
    overflow: auto;
}
.informationData{
    height: 100%;
    font-family: 'KoPubWorld Dotum Bold', sans-serif;
    list-style: none;
    padding-top: 10px;
    font-size: 80%;
    padding-left: 10px;
    overflow: auto;
}
.changeTableBoxBig{
    width: 100%;
    height: 100%;
    border: 1px solid #CDCDCD;
    background: white;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 1;
    grid-row-end: 3;
    overflow-x: auto;
    overflow-y: auto;
}
.CommitMs {
    font-family: koko, serif;
    border: 1px solid #BABABA;
    padding: 10px;
    margin: 0 auto;
    width: 100%; height: 70%;
    resize: none;
    caret-color: black;
}
.CommitBtn {
    width: 10rem; height: 20%;
    border-radius: 3px;
    border: none;
    float: right;
    background-color: #00A3FF;
    color: white;
    box-shadow: 0 5px 5px #BCBCBC;
    font-size: 1rem; font-weight: bold;
    font-family: 'KoPubWorld Dotum Bold', sans-serif;
}

.commitBox {
    height: 30%;
    margin: 20px auto 0 auto;
}
.commitSuccess {
}

/*커밋 검색 탭*/
.SearchUI {
    font-family: 'KoPubWorld Dotum Bold', sans-serif;
    width: 100%;
    margin-bottom: 1%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    font-size: .8rem;
}

.CommitmsgSelectBox {
    font-family: 'KoPubWorld Dotum Bold', sans-serif;
    width: 15%;
    text-align: center;
    padding: 3px;
}
.CommitMsgSearchBox {
    border: 1px solid #D6D6D6;
    width: 70%;
    padding: 5px;
}
.CommitMsgSearchBtn {
    width: 13%;
    font-family: 'KoPubWorld Dotum Bold', sans-serif;
    border-radius: 3px;
    background-color: #a8a8a8;
    border: none;
    color: white;
    /*box-shadow: 0 3px 3px #BCBCBC;*/
    font-size: 1rem;
}

/*모달창*/
.modalOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 배경에 어둡게 투명한 효과 */
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    z-index: 9;
}
.modal {
    font-family: 'KoPubWorld Dotum Bold', sans-serif;
    font-size: 18px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* 그림자 효과 */
    padding: 40px 70px 0 70px;
    max-width: 60%;
    max-height: 80%;
    overflow: auto;
    position: fixed;
    z-index: 9999;
    top: 50%;
    left: 50%; /* 화면 가로 중앙에 위치 */
    transform: translate(-50%, -50%); /* 가운데 정렬을 위한 transform 속성 */
}
.modalConfirmBtn{
    background-color: #00A3FF;
    border: none;
    color: white;
    padding: 4px 15px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 5px;

}
.modalCheckBtn {
    background-color: #00A3FF;
    border: none;
    color: white;
    padding: 5px 50px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.modalCheckBtn:hover{
    background-color: #008dde;
}
.modalCloseBtn{
    background-color: #ff0000; /* 배경색 */
    border: none; /* 테두리 없음 */
    color: white; /* 텍스트 색상 */
    padding: 4px 15px; /* 안쪽 여백 */
    font-weight: bold; /* 폰트 굵기 */
    outline: none; /* 포커스 효과 제거 */
    cursor: pointer; /* 마우스 오버 시 커서 모양 변경 */
    margin-bottom: 20px;
    border-radius: 5px;
    margin-left: 20px;
}
.modalCloseBtn:hover {
    background-color: #d20000; /* 배경색 */
}
.modalBtnBox{
    float: right;
}
.commentBox{
    padding: 15px;
}
.madalCommet{
    text-align: center;
}

/*충돌 해결 모달*/
.mergeGuideTxt{
    font-size: 1.1rem;
    text-align: center;
}
.mergeGuideTxt2 {
    font-size: .8rem;
    color: #5B5B5B;
    font-family: 'KoPubWorld Dotum Bold.ttf', sans-serif;
    margin: 0;
}
.mergeGuideTxtBold{
    font-family: 'GmarketSansTTFBold', sans-serif;
    font-size: 1.8rem;
    color: #028bd5;
}
.modalSelectBox{
    width: 1000px;
}
.modalselectTitleBox{
    background-color: #EDEDED;
    padding: 10px;
    border: 1px solid #6B6B6B;
    margin: 0;
    height: 35px;
    font-size: 15px;
    text-align: center;
}
.madalselectData{
    border: 1px solid #6B6B6B;
    overflow: auto;
    background-color: #FFFFFF;
    padding-top: 10px;
}
.madalLayout{
    background: white;
    float: right;
    width: 45rem; height: 28rem;
    padding: 10px;
    overflow: auto;
    border: #b2b2b2 solid 1px;
}
.mergemodalBtnBox{
    margin-top: 1rem;
    float: right;
}
.tableName {
    font-family: 'KoPubWorld Dotum Bold.ttf', sans-serif;
}
.mergeTable{
    border: #e5e5e5 solid 1px;
    border-bottom: none;
    margin-bottom: 30px;
}
.mergeData{
    border-bottom: #e5e5e5 solid 1px;
    display: flex;
    flex-direction: column;
}
.mergeRadio{
    position: absolute;
    left: 15px;
    top: 15px;
}
.mergeModal {
    font-family: 'KoPubWorld Dotum Bold.ttf', sans-serif;
    font-size: 18px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* 그림자 효과 */
    padding: 2rem 3rem .5rem 3rem;
    overflow: auto;
    position: fixed;
    z-index: 9999;
    top: 50%;
    left: 50%; /* 화면 가로 중앙에 위치 */
    transform: translate(-50%, -50%); /* 가운데 정렬을 위한 transform 속성 */
}
.MergeChartTitle{
    background-color: #EDEDED;
}
.MergeChartTitleNow{
    border-bottom: #6B6B6B solid 1px;
    border-right: #6B6B6B solid 1px;
    width: 50px;    height: 35px;
    font-size: 12px;
}
.MergeChartTitleMsg{
    border-bottom: #6B6B6B solid 1px;
    border-right: #6B6B6B solid 1px;
    width: 460px;    height: 35px;
    font-size: 15px;
}
.MergeChartTitleDate{
    border-bottom: #6B6B6B solid 1px;
    border-right: #6B6B6B solid 1px;
    width: 120px;    height: 35px;
    font-size: 15px;
}
.MergeChartTitleWriter{
    border-bottom: #6B6B6B solid 1px;
    border-right: #6B6B6B solid 1px;
    width: 120px;    height: 35px;
    font-size: 15px;
}
.MergeChartTitleNum{
    border-bottom: #6B6B6B solid 1px;
    font-size: 15px;
    width: 120px;    height: 35px;
}
.MergeChartBack{
    background-color: #FFFFFF;
    border: #6B6B6B solid 1px;
    margin: 0 0 20px 20px;
    height: 194px;    width: 500px;
    overflow: auto;
    scroll-snap-type: both mandatory;
}
.MergeChartContent{
    height: 30px;
    border-bottom: #6B6B6B solid 1px;
    background-color: #FFFFFF;
    font-size: 14px;
}
.MergeChartContent:nth-child(odd) {
    border-bottom: none; /* 두 번째 tr 요소의 border-bottom 제거 */
    margin-bottom: 0; /* 두 번째 tr 요소의 하단 마진 제거 */
}

.MergeChartContent:nth-child(even) + .MergeChartContent {
    margin-top: 0; /* 두 번째 tr 요소와 세 번째 tr 요소 사이의 상단 마진 제거 */
}

/* 스크롤바의 폭 너비 */
.scrollbar::-webkit-scrollbar {
    width: 10px;
}
.scrollbar::-webkit-scrollbar-thumb {
    background: rgb(192, 192, 192); /* 스크롤바 색상 */
    border-radius: 10px; /* 스크롤바 둥근 테두리 */
}
.scrollbar::-webkit-scrollbar-track {
    background: rgb(240, 240, 240);  /*스크롤바 뒷 배경 색상*/
}