@font-face {
    font-family: "KoPubWorld Dotum Bold";
    src: url("../../default/font/KoPubWorld Dotum Bold.ttf");
}
@font-face {
    font-family: "GmarketSansTTFBold";
    src: url("../../default/font/GmarketSansTTFBold.ttf");
}

.changeCommitBox{
    font-family: "KoPubWorld Dotum Bold", serif;
    width: 50%;
    margin: 3% auto 0;
    height: 300px;    width: 90%;
}

.changeCommitBoxUnder{
    margin-top: 30px;
}
.selectBox{
    width: 250px; height: 100px;
    margin-bottom: 100px;
    background-color: #FFFFFF;
}
.smailSelectBox{
    width: 100% ; height: 300px;
}
.selectTitleBox{
    background-color: #EDEDED;
    padding: 10px;
    border: 1px solid #6B6B6B;
    margin: 0;
    height: 35px;
    font-size: 15px;
}
.selectData{
    border: 1px solid #6B6B6B;
    max-height: 300px;
    overflow: auto;
    background-color: #FFFFFF;
    height: 260px;
    padding-top: 10px;
}
.smallselectData{
    border: 1px solid #707070;
    max-height: 200px;
    overflow: auto;
    background-color: #FFFFFF;
    height: 160px;
    padding-top: 10px;
}
.informationData{
    list-style: none;
    border: 1px solid #707070;
    max-height: 200px;
    overflow: auto;
    background-color: #FFFFFF;
    height: 160px;
    padding-top: 10px;
}
.DataList{
    margin: 5px 0 0 10px;
}
.changeTableBox{
    width: 75%;
    height:  295px;
    border: 1px solid #6B6B6B;
    overflow-y: auto;
    overflow-x: auto;
}
.changeTableBoxBig{
    width: 67%; height: 456px;
    border: 1px solid #BCBCBC;
    overflow-y: auto;
    overflow-x: auto;
    margin-left: 320px;
    position: relative; /* 상대적 위치 지정 */
    top: -269px; /* 원하는 만큼 위로 이동 */
}
.CommitMs{
    width: 90.2%; height: 120px;
    margin: 10px 10px 10px 55px ;
    border: #BCBCBC solid 1px;
    resize: none;
    padding: 10px 10px 10px 10px;
    font-family: 'KoPubWorld Dotum Bold', sans-serif;
}
.CommitBtn{
    width: 200px; height: 40px;
    border-radius: 10px 10px 10px 10px;
    background-color: #D9D9D9;
    border: none;
    float: right;
    margin-right: 52px;
    box-shadow: 0px 5px 5px #BCBCBC;
    font-size: 18px; font-weight: bold;
    font-family: 'KoPubWorld Dotum Bold', sans-serif;
}
.changeColumnName{
    width: 200px;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    margin: 0 auto 0;
    border: 1px solid #777777;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}
.dataBox{
    width: 200px;
    height: 50px;
    padding: 10px;
    text-align: center;
    margin: 0;
}
.td {
    margin: 0;
    padding: 0;
}
.columnNames{
    width: 200px;
}
.redBox{
    background-color: #FFE4E4;
}
.greenBox{
    background-color: #E0FFD2;
}

/*히스토리 사이드 바 UI*/
.HistorySideBar{
    width: 300px;
    height: 780px;
    background-color: #00A3FF;
    margin: 20px 0 0 30px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 3px 3px lightgray;

}
.ProjectSelectBox{
    font-family: 'KoPubWorld Dotum Bold', sans-serif;
    width: 300px;
    height: 40px;
    margin: 0px 0 0 30px;
    border-radius: 10px 10px 10px 10px;
    padding: 0 30px 0 30px;

}
.HistorySideMenuState{
    font-family: 'KoPubWorld Dotum Bold', sans-serif;
    font-size: 20px;
    width: 260px;
    padding: 10px 160px 10px 20px;
    margin: 30px 20px 0px 20px;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 10px 10px 10px 10px;
    text-decoration-line: none;
}
.HistorySideMenuHistory{
    font-family: 'KoPubWorld Dotum Bold', sans-serif;
    font-size: 20px;
    width: 260px;
    padding: 10px 160px 10px 20px;
    margin: 30px 20px 0px 20px;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 10px 10px 10px 10px;
    position: relative;
    top: 30px;
    text-decoration-line: none;
}
.CkLink{
    text-decoration-line: none;
    color: #FFFFFF;
}
.HistorySideMenuSearch{
    font-family: 'KoPubWorld Dotum Bold', sans-serif;
    font-size: 20px;
    width: 260px;
    padding: 10px 160px 10px 20px;
    margin: 30px 20px 0px 20px;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 10px 10px 10px 10px;
    position: relative;
    top: 60px;
    text-decoration-line: none;

}
.HistorySideMenuRequest{
    font-family: 'KoPubWorld Dotum Bold', sans-serif;
    font-size: 20px;
    width: 260px;
    padding: 10px 130px 10px 20px;
    margin: 30px 20px 0px 20px;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 10px 10px 10px 10px;
    position: relative;
    top: 90px;
    text-decoration-line: none;

}
.HistorySideBarMenu{
    padding-top: 30px;
}
.selectedMenuItem {
    background-color: #47BDFF;
    font-family: 'KoPubWorld Dotum Bold', sans-serif;
    font-size: 20px;
    width: 260px;
    padding: 10px 160px 10px 20px;
    margin: 30px 20px 0px 20px;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 10px 10px 10px 10px;
}
.selectedMenuItem2 {
    background-color: #47BDFF;
    font-family: 'KoPubWorld Dotum Bold', sans-serif;
    font-size: 20px;
    width: 260px;
    padding: 10px 130px 10px 20px;
    margin: 30px 20px 0px 20px;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 10px 10px 10px 10px;
}

/*히스토리 상단 버튼*/
.HistoryBtn{
    font-family: 'KoPubWorld Dotum Bold', sans-serif;
    width: 170px;
    text-align : center;
    padding: 3px 10px 3px 10px;
    background-color: #D8E0E9;
    border-radius: 30px 30px 30px 30px;
    border: none;
    margin-right: 20px;
    color: #80898D;
    cursor: pointer;
}
.HistoryBtns{
    float: left;
}
/*히스토리 상단 버튼 화이트 있는 버전*/
.HistoryBtnWhite{
    font-family: 'KoPubWorld Dotum Bold', sans-serif;
    width: 30px;
    text-align : center;
    background-color: #ffffff;
    float: right;
    font-size: 12px;
    color: #000;
    border-radius: 30px 30px 30px 30px;
    margin-top: 2px;
    cursor: pointer;

}
/*히스토리 캔버스 레이아웃*/
.buttonContainerF{
    left: 400px;
    position: absolute;
}
.buttonContainerT{
    left: 1100px;
    position: absolute;
}
/*히스토리 페이지*/
.HistoryCanverLayOut{
    margin-top: 57px;
}
.HistoryCanverBack{
    position: absolute;
    top: 150px;
    height: 800px;
    width: 1140px;
    margin: 30px 0 50px 350px;
}
.HistoryPage{
    margin: auto;
}
.HistoryCanver{
    background-color: #EEF1F6;
    height: 780px;
    padding-top: 10px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 3px 3px lightgray;
}
.commitBox{
    position: absolute;
    bottom: 50px;
    width: 100%;
}
.commitSuccess{
    float: left;
    font-weight: 800;
    color: #5B5B5B;
    margin: 10px 0px 0px 785px;
}
/*히스토리 표 ui*/
.CommitChartBack{
    background-color: #FFFFFF;
    border: #000 solid 1px;
    margin: 30px auto;
    height: 300px;    width: 90%;
    overflow: auto;
    scroll-snap-type: both mandatory;
}
.CommitChart{
    font-family: 'KoPubWorld Dotum Bold', sans-serif;
    width: 100%;
    text-align: center;
}
.CommitChartTitleNow{
    border-bottom: #000000 solid 1px;
    border-right: #000000 solid 1px;
    width: 50px;    height: 20px;
    font-size: 12px;
}
.CommitChartTitleMsg{
    border-bottom: #000000 solid 1px;
    border-right: #000000 solid 1px;
    width: 460px;    height: 20px;
    font-size: 15px;
}
.CommitChartTitleDate{
    border-bottom: #000000 solid 1px;
    border-right: #000000 solid 1px;
    width: 120px;    height: 20px;
    font-size: 15px;
}
.CommitChartTitleWriter{
    border-bottom: #000000 solid 1px;
    border-right: #000000 solid 1px;
    width: 120px;    height: 20px;
    font-size: 15px;
}
.CommitChartTitleNum{
    border-bottom: #000000 solid 1px;
    font-size: 15px;
    width: 120px;    height: 20px;
}
.CommitChartContent{
    height: 30px;
    border-bottom: #000000 solid 1px;
    background-color: #FFFFFF;
    cursor: pointer;
}
.CommitChartContentActive {
    background-color: #BFE8FF;
    height: 30px;
    border-bottom: #000000 solid 1px;
    cursor: pointer;
}


/**/


/*.modalContent {*/
/*    background-color: white;*/
/*    width: 50%;*/
/*    margin: 20% auto;*/
/*    padding: 20px;*/
/*    border-radius: 8px;*/
/*}*/

/*.modalFooter {*/
/*    margin-top: 20px;*/
/*    display: flex;*/
/*    justify-content: flex-end; !* 하단 오른쪽에 버튼 정렬 *!*/
/*}*/

/*.confirmBtn {*/
/*    background-color: #4caf50; !* 확인 버튼 색상 *!*/
/*    color: white;*/
/*    border: none;*/
/*    padding: 10px 20px;*/
/*    border-radius: 4px;*/
/*    cursor: pointer;*/
/*}*/

/*.cancelBtn {*/
/*    background-color: #f44336; !* 취소 버튼 색상 *!*/
/*    color: white;*/
/*    border: none;*/
/*    padding: 10px 20px;*/
/*    border-radius: 4px;*/
/*    cursor: pointer;*/
/*}*/

/*.closeBtn {*/
/*    background-color: transparent;*/
/*    border: none;*/
/*    cursor: pointer;*/
/*    font-size: 20px;*/
/*    position: absolute;*/
/*    top: 10px;*/
/*    right: 10px;*/
/*}*/


/*모달창*/
.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 배경에 어둡게 투명한 효과 */
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
}

.modal {
    font-family: 'KoPubWorld Dotum Bold', sans-serif;
    font-size: 18px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* 그림자 효과 */
    padding: 40px 70px 0px 70px;
    max-width: 60%;
    max-height: 80%;
    overflow: auto;
    position: fixed;
    z-index: 9999;
    top: 50%;
    left: 50%; /* 화면 가로 중앙에 위치 */
    transform: translate(-50%, -50%); /* 가운데 정렬을 위한 transform 속성 */
}
.modalConfirmBtn{
    background-color: #00A3FF;
    border: none;
    color: white;
    padding: 4px 15px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 5px;

}
.modalCancelBtn {
    background-color: #00A3FF;
    border: none;
    color: white;
    padding: 4px 15px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.modalCloseBtn{
    background-color: #ff0000; /* 배경색 */
    border: none; /* 테두리 없음 */
    color: white; /* 텍스트 색상 */
    padding: 4px 15px; /* 안쪽 여백 */
    font-weight: bold; /* 폰트 굵기 */
    outline: none; /* 포커스 효과 제거 */
    cursor: pointer; /* 마우스 오버 시 커서 모양 변경 */
    margin-bottom: 20px;
    border-radius: 5px;
    margin-left: 20px;

}
.modalBtnBox{
    float: right;
}
.commentBox{
    padding: 15px;
}
.madalCommet{
    text-align: center;
}

/*충돌 해결 모달*/
.mergeGuideTxt{
    text-align: center;
}
.mergeGuideTxtBold{
    font-size: 22px;
}
.modalSelectBox{
    width: 200px; height: 200px;
}
.modalselectTitleBox{
    background-color: #EDEDED;
    padding: 10px;
    border: 1px solid #6B6B6B;
    margin: 0;
    height: 35px;
    font-size: 15px;
    text-align: center;
}
.madalselectData{
    border: 1px solid #6B6B6B;
    overflow: auto;
    background-color: #FFFFFF;
    height: 160px;
    padding-top: 10px;
}
.madalLayout{
    float: right;
    /*width: 100%;*/
    display: flex;
    /*justify-content: space-between;*/
}
.mergemodalBtnBox{
    float: right;

}
.mergemodal {
    font-family: 'KoPubWorld Dotum Bold', sans-serif;
    font-size: 18px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* 그림자 효과 */
    padding: 30px 50px 0px 50px;
    max-width: 60%;
    max-height: 80%;
    overflow: auto;
    position: fixed;
    z-index: 9999;
    top: 50%;
    left: 50%; /* 화면 가로 중앙에 위치 */
    transform: translate(-50%, -50%); /* 가운데 정렬을 위한 transform 속성 */
}
.MergeChartTitle{
    background-color: #EDEDED;
}
.MergeChartTitleNow{
    border-bottom: #6B6B6B solid 1px;
    border-right: #6B6B6B solid 1px;
    width: 50px;    height: 35px;
    font-size: 12px;
}
.MergeChartTitleMsg{
    border-bottom: #6B6B6B solid 1px;
    border-right: #6B6B6B solid 1px;
    width: 460px;    height: 35px;
    font-size: 15px;
}
.MergeChartTitleDate{
    border-bottom: #6B6B6B solid 1px;
    border-right: #6B6B6B solid 1px;
    width: 120px;    height: 35px;
    font-size: 15px;
}
.MergeChartTitleWriter{
    border-bottom: #6B6B6B solid 1px;
    border-right: #6B6B6B solid 1px;
    width: 120px;    height: 35px;
    font-size: 15px;
}
.MergeChartTitleNum{
    border-bottom: #6B6B6B solid 1px;
    font-size: 15px;
    width: 120px;    height: 35px;
}
.MergeChartBack{
    background-color: #FFFFFF;
    border: #6B6B6B solid 1px;
    margin: 0px 0px 20px 20px;
    height: 194px;    width: 500px;
    overflow: auto;
    scroll-snap-type: both mandatory;
}
.MergeChartContent{
    height: 30px;
    border-bottom: #6B6B6B solid 1px;
    background-color: #FFFFFF;
    font-size: 14px;
}
.MergeChartContent:nth-child(odd) {
    border-bottom: none; /* 두 번째 tr 요소의 border-bottom 제거 */
    margin-bottom: 0; /* 두 번째 tr 요소의 하단 마진 제거 */
}

.MergeChartContent:nth-child(even) + .MergeChartContent {
    margin-top: 0; /* 두 번째 tr 요소와 세 번째 tr 요소 사이의 상단 마진 제거 */
}


/*커밋 검색 페이지*/
.SearchUI{
    float: right;
    width: 90%; height: 50px;
    margin: 12px 55px 18px 0px;
}
.CommitmsgSelectBox{
    font-family: 'KoPubWorld Dotum Bold', sans-serif;
    width: 170px;
    text-align: center;
    margin: 10px 10px 10px 0px;
}
.SearchBar{
    float: right;
    margin: 10px 10px 10px 0px;
    height: 100%; width: 836px;
}
.CommitMsgSearchBox{
    color: #000;
    width: 705px;
}
.CommitMsgSearchBtn{
    font-family: 'KoPubWorld Dotum Bold', sans-serif;
    border-radius: 10px 10px 10px 10px;
    background-color: #D9D9D9;
    border: none;
    box-shadow: 0px 3px 3px #BCBCBC;
    width: 120px; height: 30px;
    float: right;
}
